services:
  mysql:
    image: debezium/example-mysql:latest
    container_name: mysql
    hostname: mysql-keycloak
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: keycloak
      MYSQL_USER: keycloak
      MYSQL_PASSWORD: keycloak
      MYSQL_ROOT_HOST: '%'
      MYSQL_AUTHENTICATION_PLUGIN: mysql_native_password
    ports:
      - 3306:3306
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - keycloak-network
  keycloak:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: keycloak
    environment:
#      - KEYCLOAK_USER=admin
#      - KEYCLOAK_PASSWORD=admin
#      - DB_VENDOR=MYSQL
#      - DB_ADDR=mysql-keycloak
#      - DB_DATABASE=keycloak
#      - DB_PORT=3306
#      - DB_USER=keycloak
#      - DB_PASSWORD=keycloak
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin

    ports:
      - 8080:8080
    command:
      - start-dev
    volumes:
      - keycloak-data:/opt/jboss/keycloak/standalone/data
    networks:
      - keycloak-network
    depends_on:
      - mysql

volumes:
  keycloak-data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
#      device: '/opt/keycloak/data'
      device: 'C:\\Users\\HLC\\Documents\\docker-mount\\image-data\\keycloak-date'
  mysql-data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
#      device: '/var/lib/mysql'
      device: 'C:\\Users\\HLC\\Documents\\docker-mount\\image-data\\mysql-data'

networks:
  keycloak-network:
    driver: bridge